{% load static %}
<div class="banner">
    <div class="mySlides snd-animate-right">
        <img src="{% static 'img/banner1.jpg' %}" alt="">
        <span class="bannerBG"></span>
    </div>
    <div class="mySlides snd-animate-right">
        <img src="{% static 'img/banner2.jpg' %}" alt="">
        <span class="bannerBG"></span>
    </div>

    <div class="inner">
        <div class="bannerArt">
           <div class="insider">
                <h2>WELCOME TO</h2>
                <p>Farmers Allaince For Business</p>
                <a href="#">SHOP NOW</a>
            </div>   
        </div>                    
    </div>
</div>