
        <footer id="footer">
            <div class="footer">
                <div class="inner">
                    <div class="footNav">
                        <div class="col col1">
                            <h3>Quick links</h3>
                            <ul>
                                <li>
                                    <a href="#">About </a>
                                </li>
                                <li>
                                    <a href="#">FAQs </a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy </a>
                                </li>
                                <li>
                                    <a href="#">Terms and Conditions </a>
                                </li>

                            </ul>
                        </div>
                        <div class="col col2">
                            <h3>Our Product</h3>
                            <ul>
                                <li>
                                    <a href="#">seeds </a>
                                </li>                       
                            </ul>
                        </div>
                        <div class="col col3">
                            <h3>CONTACT</h3>
                            <ul>
                                <li>
                                    <span class="iconCall"></span><a href="tel:+234345456678">+234 345 456 678 </a>
                                </li>
                                <li>
                                    <span class="iconMail"></span><a href="mailto:info@fab.com">info@fab.com </a>
                                </li>                          
                            </ul>
                        </div>
                    </div>
                    <div class="footEnd">
                        <div class="socialIcons snd-col m7 l8">
                            <ul>
                                <li>
                                    <a href="#" class="iconFb"></a>
                                </li>
                                <li>
                                    <a href="#" class="iconIn"></a>
                                </li>
                                <li>
                                    <a href="#" class="iconTwitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="iconInsta"></a>
                                </li>
                            </ul>
                          
                        </div>

                        <div class="copyRights snd-col m5 l4">
                            <img src="{% static 'img/footLogo.png' %}">
                            <p>@2020, Farmer Allainces for business-All rights Reserved</p>
                        </div>
                        <div class="snd-clear"></div>
                    </div>
                </div>
            </div>

        </footer>
   </div>  
   <script src="{% static 'js/reset.js' %}"></script> 
  
</body>
</html>

